

<nav class="navbar navbar-dark bg-dark">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">News website</a>
    <form class="form-inline">
      <button class="btn btn-primary my-2 my-sm-0 mr-2" routerLink="/" type="button">
        Home
      </button>
      <a routerLink="/newslist" class="btn btn-primary my-2 my-sm-0 mr-2" type="button">
      News
      
      </a>
      <div *ngIf="auth.isAuthenticated()"> 
      <button class="btn btn-primary my-2 my-sm-0 mr-2"
       (click)="getServer()" 
       routerLink="/user" type="button">
        Profile
      </button>
     </div>
      <button id="qsLoginBtn" class="btn btn-primary my-2 my-sm-0" *ngIf="!auth.isAuthenticated()" (click)="auth.login()" type="button">
        Log In
      </button>
      <button id="qsLogoutBtn" class="btn btn-primary my-2 my-sm-0" *ngIf="auth.isAuthenticated()" (click)="auth.logout()" type="button">
        Log Out
      </button>
    </form>
  </div>
</nav>

<div id="demo" class="carousel slide" data-ride="carousel">
  <ul class="carousel-indicators">
    <li data-target="#demo" data-slide-to="0" class="active"></li>
    <li data-target="#demo" data-slide-to="1"></li>
    <li data-target="#demo" data-slide-to="2"></li>
  </ul>
  <div class="carousel-inner">
    <div class="carousel-item active">
      <img src="assets/ny.jpg" alt="Los Angeles" width="1600" height="300">
      <div class="carousel-caption">
        <h3>Los Angeles</h3>
        <p>We had such a great time in LA!</p>
      </div>   
    </div>
    <div class="carousel-item">
      <img src="assets/la.jpg" alt="Chicago" width="1600" height="300">
      <div class="carousel-caption">
        <h3>Chicago</h3>
        <p>Thank you, Chicago!</p>
      </div>   
    </div>
    <div class="carousel-item">
      <img src="assets/images.jpg" alt="New York" width="1600" height="300">
      <div class="carousel-caption">
        <h3>New York</h3>
        <p>We love the Big Apple!</p>
      </div>   
    </div>
  </div>
  <a class="carousel-control-prev" href="#demo" data-slide="prev">
    <span class="carousel-control-prev-icon"></span>
  </a>
  <a class="carousel-control-next" href="#demo" data-slide="next">
    <span class="carousel-control-next-icon"></span>
  </a>
</div>


<nav class="navbar navbar-expand-sm bg-dark navbar-dark">
  <!-- Brand/logo -->
  <a class="navbar-brand" href="#">Rating</a>
  
  <!-- Links -->
  <ul class="navbar-nav">
    <li class="nav-item">
      <a class="nav-link" href="#">Sport</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="#">Politics</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="#">Auto</a>
    </li>
    <li class="search">
      <input class="form-control" id="myInput" type="text" placeholder="Search..">
    </li>
  </ul>
</nav>

<div class="container mt-3">
  <h2>Media Object</h2>
  <p>Create a media object with the .media and .media-body classes:</p>
  <div class="media border p-3">
    <img src="assets/la.jpg" alt="John Doe" class="mr-3 mt-3 rounded-circle" style="width:60px;">
    <div class="media-body">
      <h4>John Doe <small><i>Posted on February 19, 2016</i></small></h4>
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>      
    </div>
  </div>
</div>

<div class="container mt-3">
  <h2>Media Object</h2>
  <p>Create a media object with the .media and .media-body classes:</p>
  <div class="media border p-3">
    <img src="assets/ny.jpg" alt="John Doe" class="mr-3 mt-3 rounded-circle" style="width:60px;">
    <div class="media-body">
      <h4>Denis Doe <small><i>Posted on February 29, 2017</i></small></h4>
      <p>Hello world. Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>      
    </div>
  </div>
</div>