<!-- <nav class="navbar navbar-dark bg-dark">
  <div class="container-fluid">
      <a class="navbar-brand" href="#">News website</a>
      <form class="form-inline">
        <button class="btn btn-primary my-2 my-sm-0 mr-2"
          routerLink="/" type="button">
            Home
        </button>
        <button id="qsLoginBtn"
          class="btn btn-primary my-2 my-sm-0 mr-2"
          *ngIf="auth.isAuthenticated()"
          (click)="auth.login()" routerLink="/user" type="button">
            Profile                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                       
        </button>  
        <button id="qsLoginBtn"
          class="btn btn-primary my-2 my-sm-0"
          *ngIf="!auth.isAuthenticated()"
          (click)="auth.login()" routerLink="/user" type="button">
            Log In                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                       
        </button>                                                                                                                                                                                                                                                                                     
        <button id="qsLogoutBtn"
          class="btn btn-primary my-2 my-sm-0"
          *ngIf="auth.isAuthenticated()"
          (click)="auth.logout()" type="button">
            Log Out
        </button>
      </form>
  </div>
</nav> -->
<app-main></app-main>
<main role="main" class="container">
  <!-- <div *ngIf="auth.isAuthenticated()"><app-user></app-user></div> -->
  <router-outlet></router-outlet>
</main>
