<div class="panel panel-default authInfo-area">
    <div class="panel-heading">
      <h3>Image</h3>
    </div>
    <div class="panel-body">
      <img src="{{authInfo?.picture}}" class="avatar" alt="avatar">
      <!-- <div>
        <label><i class="glyphicon glyphicon-user"></i> Nickname</label>
        <h3 class="nickname">{{ authInfo?.nickname }}</h3>
      </div>
      <pre class="full-authInfo">{{ authInfo | json }}</pre> -->
    </div>
</div>`
<div class="container">
  <h2>Stacked form</h2>
  <form action="/action_page.php">
    
    <div class="form-group">
      <label for="email">Email:</label>
      <input type="email" [(ngModel)]="profile.emails" class="form-control" id="email" placeholder={{authInfo?.name}} name="email">
    </div>
    <div class="form-group">
      <label for="fname">Firstname:</label>
      <input type="firstname" [(ngModel)]="profile.firstname"class="form-control" id="fname" placeholder="Enter firstname" name="fname">
    </div>
    <div class="form-group">
      <label for="lname">Lastname:</label>
      <input type="lastname"[(ngModel)]="profile.lastname" class="form-control" id="lname" placeholder="Enter lastname" name="lname">
    </div>
    <div class="form-group">
      <label for="dbirth">Data birth:</label>
      <input type="description" [(ngModel)]="profile.description" class="form-control" id="dbirth" placeholder="Enter date birth" name="dbirth">
    </div>
    <div class="form-group">
      <label for="pinfo">Personal information:</label>
      <input type="personalinfo" class="form-control" id="pinfo" placeholder="Enter information" name="pinfo">
    </div>
    <!-- <div class="form-group form-check">
      <label class="form-check-label">
        <input class="form-check-input" type="checkbox" name="remember"> Remember me
      </label>
    </div> -->
    <button type="submit" (click)="updateUser()" class="btn btn-primary">Adding information</button>
  </form>
</div>
<p></p>


